@model WebApplication33333.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>удалить</h1>

<h3>Вы уверены что хотите удалить эту запись?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentFatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupNavigation.GroupId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к таблице</a>
    </form>
</div>
